* { 
    margin: 0;
    border: 0;
    padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202020;
  color: aliceblue;
  font-family:  'Heebo', sans-serif;

}

h1 {
    margin: 10px;
    color: #04d361;
}
 
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    margin: 20px;
    height: 500px;
    width: 800px;
    border-radius: 10px;    
}

#container {
    margin: 20px;
    height: 100px;
    width: 500px;
    text-align: left;
    
}

h2
{ color: #04d361;
    font-size: 24px;
    margin: 10px;
    text-align: left;

}
p 
{
    margin: 10px;
    font-size: 18px;
}

#banner {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    
}

h3
{   color: #04d361;
    font-size: 20px;
    margin-bottom: 20px;;
    margin-top: 20px;
    text-align: left;
}

a { margin: 20px;
    color: whitesmoke;
    text-decoration: none;
}


